gdspy==1.6.1
numpy==1.19.4
networkx==2.5
pandoc==1.0.2
meshio==4.3.5
scipy==1.5.4
plotly==4.13
pytest==6.1.2
pyclipper==1.2.0
pygmsh==6.1.1
matplotlib==3.3.3
shapely==1.7.1
lxml==4.6.1
termcolor==1.1.0
colorama==0.4.4
sphinxcontrib-napoleon==0.7
